<div class="main_container">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="form_container">
    <h1>Cadastro do jogador UOL</h1>

    <label for="nome">Nome:</label>
    <input type="text" id="nome" formControlName="nome">

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email">

    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" formControlName="telefone">

    <p>Quero ser do grupo:</p>
    <label for="liga-da-justica">
      <input 
        type="radio" 
        id="liga-da-justica" 
        value="LIGA_DA_JUSTICA" 
        formControlName="grupoCodinome">
      Liga da Justiça
    </label>
    <label for="vingadores">
      <input 
        type="radio" 
        id="vingadores" 
        value="VINGADORES" 
        formControlName="grupoCodinome">
      Vingadores
    </label>

    <div class="btn_container">
      <button type="submit">Cadastrar</button>
      <a [routerLink]="['/jogadores']"><button type="button">Listar Jogadores</button></a>
    </div>
  </form>
</div>
