<div class="main_container">
  <form action="">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" id="telefone">

    <p>Escolha seu grupo favorito:</p>
    <label for="liga-da-justica">
      <input type="radio" name="grupo" id="liga-da-justica" value="Liga da Justiça">
      Liga da Justiça
    </label>
    <label for="vingadores">
      <input type="radio" name="grupo" id="vingadores" value="Vingadores">
      Vingadores
    </label>
  </form>
</div>
