<div class="main_container">
  <form action="" class="form_container">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">

    <label for="email">Email:</label>
    <input type="text" name="email" id="email">

    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" id="telefone">

    <p>Quero ser do grupo:</p>
    <label for="liga-da-justica">
      <input type="radio" name="grupo" id="liga-da-justica" value="Liga da Justiça">
      Liga da Justiça
    </label>
    <label for="vingadores">
      <input type="radio" name="grupo" id="vingadores" value="Vingadores">
      Vingadores
    </label>
    <div class="btn_container">
      <button>Cadastrar</button>
    <button>Listar Jogadores</button>
    </div>
  </form>
</div>
